---
import { Icon } from "astro-icon/components";
---

<footer
  class="flex flex-col items-center container mx-auto p-10 text-center gap-10 pb-40"
>
  &copy; 2026 Parth Sharma. All rights reserved.
  <div class="flex items-center gap-6 text-5xl">
    <a
      href="https://instagram.com/distilledby_parth"
      target="_blank"
      class="border-1 p-1 border-black rounded-full bg-ppink shadow-card hover:shadow-hover transition"
      aria-label="Instagram Profile"
    >
      <Icon name="instagram" />
    </a>
    <a
      href="https://www.linkedin.com/in/parthsharma--/"
      target="_blank"
      class="border-1 p-1 border-black rounded-full bg-pgreen shadow-card hover:shadow-hover transition"
      aria-label="LinkedIn Profile"
    >
      <Icon name="linkedin" />
    </a>
  </div>
</footer>
