---
import { Icon } from "astro-icon/components";
---

<section
  class="py-20 flex md:flex-row flex-col px-4 md:px-0 gap-10 md:gap-0 self-center max-w-5xl mx-auto"
>
  <div class="flex flex-col gap-6 justify-start items-start md:w-1/2">
    <h1 class="text-pblack">Hi, my name is Parth Sharma</h1>
    <p class="text-6xl font-black font-playfair text-black">Ditch boring team events.</p>
    <p>
      I conduct quizzes for corporate teams and departments.
    </p>
    <a
      href="#contact"
      arial-label="Organise Quiz"
      class="bg-brand-accent text-white px-5 py-3 border-1 border-black rounded-lg shadow-card hover:shadow-hover transition"
    >
      Organise Quiz
    </a>
  </div>
  <div class="md:w-1/2 object-contain flex items-center justify-end p-10 group">
    <div>
      <div
        class="rounded-2xl h-52 w-60 flex relative"
      >
        <div
          class="absolute -top-28 -left-12 text-5xl bg-ppink px-5 py-1 z-10 shadow-card group-hover:shadow-hover transition rounded-t-2xl border-3 border-black rounded-bl-2xl rounded-br-sm"
        >
          <Icon name="paint" />
        </div>
        <div
          class="absolute top-16 -right-16 text-5xl bg-pyellow p-2 z-10 shadow-card group-hover:shadow-hover transition rounded-full border-3 border-black"
        >
          <Icon name="beach" />
        </div>
        <div
          class="absolute text-nowrap flex items-center gap-4 -bottom-12 right-0 pr-4 bg-pgreen pl-1 z-10 shadow-card1 group-hover:shadow-card transition rounded-full border-3 border-black"
        >
          <Icon name="beach" />
          <p>Parth Sharma</p>
        </div>
        <div class="h-80 w-60 overflow-hidden relative -mt-30 rounded-2xl border-3 border-black shadow-card group-hover:shadow-hover transition">
          <img
            class="w-full h-full object-cover group-hover:scale-105 transition"
            style="object-position: 40% 0%"
            src="/parth.png"
            alt="Parth Sharma in Tbilisi"
          />
        </div>
      </div>
    </div>
  </div>
</section>
